$animation-speed: 500ms;

.wrap-card {
  text-align: center;
  perspective: 1700px;
  position: relative;
  width: 170px;
  height: 250px;
  margin: 15px;

  .card {
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2);
    background: white;
    width: 170px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all $transition;
    position: absolute;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    .controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      background: $pink-100;
      height: 44px;
      max-height: 0;
      align-items: center;
      opacity: 0;
      color: white;
      transition: all 0.5s ease-out 0.2s;
      cursor: default;

      &:hover {
        transition: all $transition;
        opacity: 1 !important;
      }

      i {
        cursor: pointer;

        &:hover {
          color: $pink-500;
        }
      }
    }

    &:hover {
      box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);

      .controls {
        opacity: 0.4;
        max-height: 44px;
      }
    }
  }

  .card-enter.card-enter-active {
    transform: rotateY(0deg);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .card-enter {
    z-index: 1;
    transform: rotateY(-180deg);
    transition: all $animation-speed ease-out;
  }

  .card-leave {
    z-index: 2;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    transition: all $animation-speed ease-out;
  }

  .card-leave.card-leave-active {
    z-index: 1;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
  }
}
