.form {
  background-color: white;
  box-shadow: $formShadow;
  border-radius: 20px;
  position: relative;
  padding: 40px 25px;
  transition: .5s all ease;
  margin: auto;
}

.form-title {
  margin: 0 auto;
  position: relative;
  font-size: 32px;
  color: $darkGrey;
  font-weight: normal;
}

.form-line {
  margin: 0 auto 40px auto;
  display: block;
  position: relative;
  width: 74px;
  height: 3px;
  background-color: $blue;
}

.form-error {
  display: block;
  color: $errorColor;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 13px;
  text-align: center;
  position: relative;
}

.form-license {
  font-size: 12px;
  position: relative;
  color: black;
  margin-bottom: 26px;
}



.license__checkbox:after {
  cursor: pointer;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 5%;
  position: absolute;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, .54);
  transition: $checkboxFormTransition;
}

.license__checkbox:checked:after {
  background: url("../../Files/Correct.svg") $blue no-repeat center;
  background-size: contain;
  border: none;
  background-origin: content-box;
  padding: 4px;
}

.license__label {
  display: inline-block;
  text-align: left;
}

.license__link {
  display: block;
  text-decoration: none;
  color: $blue;
}

.image {
  display: none;
  position: absolute;
  opacity: 0;
  transition: 1s all ease;
}

