# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*

# Вспомогательные файл
*.log
*.js
npm-debug.log*
node_modules/

# Папка с собранными файлами проекта
dist/
static/

# Локальные файлы конфигураций
.env


.cache-loader
