.authorization-form {
  padding: 0 16px 22px;
  overflow: hidden;

  .buttons-group {
    margin-top: 32px;

    .btn {
      &.active,
      &:active,
      &:active:focus {
        @extend %wave;
      }
    }
  }

  &.authorization-enter.authorization-enter-active {
    opacity: 1;
    max-height: 400px;
    padding: 0 16px 22px;
    transition: all 400ms linear;
  }

  &.authorization-enter {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }

  &.authorization-leave {
    max-height: 400px;
    padding: 0 16px 22px;
    opacity: 1;
  }

  &.authorization-leave.authorization-leave-active {
    opacity: 0;
    padding: 0;
    max-height: 0;
    transition: all 300ms linear;
  }
}
