.form-group {
  position: relative;
  margin-bottom: 16px;
  margin-top: 30px;

  .material-icons {
    @extend %vertical-center;
  }
}

.has-error {
  .form-control,
  .searcher .rw-widget,
  .multi-select .rw-widget,
  .select .rw-dropdownlist {
    border-color: $pink-500 !important;
  }
}

.inline {
  .form-control,
  .searcher .rw-widget,
  .multi-select .rw-widget,
  .select .rw-dropdownlist {
    display: inline-block;
    margin-left: 32px;
    width: calc(100% - 32px);
  }
}
