@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Colors

$blue-50: #00e5ff;
$blue-200: #00a3cc;
$blue-300: #009ad4;
$blue-500: #0076a3;
$blue-700: #006d9a;

$green-500: #009688;

$yellow-300: #ffbc2d;
$yellow-500: #f5ab0c;
$yellow-700: #e69e00;

$red-500: #EF5350;

$pink-100: #bdc2e8;
$pink-500: #ec407a;

$gray-200: #eef2f4;
$gray-300: #e0e7e9;
$gray-400: #c9d2d5;
$gray-500: #a6b3b7;
$gray-600: #8899a0;
$gray-700: #657177;
$gray-800: #303436;
$gray-900: #040f12;

$black: #000;
$white: #fff;

// Typography

$font-roboto: Roboto, sans-serif;
$font-raleway: Raleway, sans-serif;

// Default  color

$danger: $red-500;
$success: $green-500;

// Layout

$header-height: 90px;
$sidebar-width: 270px;
$min-window-width: 727px;

// Box model

$border-radius: 6px;
$big-border-radius: 10px;

// Other

$transition: 0.2s ease-out 0s;
$disabled-opacity: 0.5;
$disabled-cursor: not-allowed;
