.control-label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 8px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.has-icon .control-label {
  left: 31px;
}

input:focus ~ label,
.has-not-empty {
  label {
    top: -13px;
    font-size: 14px;
    color: $pink-100;
  }

  .material-icons {
    color: $pink-100;
  }
}
