$animation-speed: 500ms;

.album {
  .header {
    height: 80px;
    background: $pink-500;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 10px;
  }

  .description {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
  }
}
