.form__button {
  background-color: $buttonFormBackground;
  width: 80px;
  text-align: center;
  font-size: 12px;
  outline: none;
  border: none;
  color: white;
  padding: 6px;
  transition: $formButtonTransition;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

.form__button:hover, .form__button:focus {
  background-color: #3700B3;
}

/*.form__button:active {
  transform: scale(0.9);
}*/

.form__button_redirect {
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
