$lg-btn-size: 40px;
$md-btn-size: 34px;
$sm-btn-size: 32px;
$xs-btn-size: 24px;

.btn {
  @extend %reset-outline;

  @include user-select(none);

  position: relative;
  display: inline-block;
  height: $md-btn-size;
  margin-bottom: 0;
  padding: 0 20px;
  border: 1px solid;
  border-radius: 26px;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: $md-btn-size;
  transition: $transition;

  &.disabled,
  &[disabled] {
    @extend %disabled;
  }
}

.btn-primary {
  @include button-colors($white, $pink-500, lighten($pink-500, 10%));
}

.btn-default {
  @include button-colors($white, $gray-400, lighten($gray-400, 5%));
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-xs {
  height: $xs-btn-size;
  line-height: $xs-btn-size;
  min-width: initial;
  padding: 0 15px;
}

.btn-sm {
  height: $sm-btn-size;
  line-height: $sm-btn-size;
  min-width: initial;
  padding: 0 15px;
}

.btn-lg {
  height: $lg-btn-size;
  line-height: $lg-btn-size;
  padding: 0 30px;
}

@media (max-width: 1000px) {
  .btn {
    height: 30px;
    line-height: 30px;
    min-width: initial;
    padding: 0 15px;
  }

  .btn-lg {
    height: 34px;
    line-height: 34px;
  }
}
