.form-button {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(to left, #0090DA, #81D4FA);
  outline: none;
  width: 200px;
  margin: 0 auto 10px auto;
  height: 40px;
  box-shadow: $buttonFormShadow;
  color: white;
  border: none;
  font-size: 16px;
  transition: $buttonFormTransition;
}

.form-button:active {
  transform: scale(0.9);
}
