.form-group {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.form-group__label {
  position: absolute;
  bottom: 3px;
  left: -4px;
  padding-left: 4px;
  transition: $transition-03ease;
  pointer-events: none;
}

.form-group__label_focused {
  transform: translateY(-24px);
  line-height: 12px;
  z-index: 1;
  font-size: 12px;
  color: $blue;
}

.form-group__label_error {
  color: $errorColor
}

.form-group__error-message {
  font-size: 10px;
  position: absolute;
  right: 9px;
  bottom: -14px;
  color: $errorColor;
}
