.form-input {
  font-size: 16px;
  height: 30px;
  width: 100%;
  margin-top: 18px;
  padding-top: 6px;
  background: inherit;
  border: none;
  border-bottom: $inputBorder;
  cursor: pointer;
  transition: $inputTransition;
  box-shadow: none;
  outline: none;

  /*&:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px  inset;
    -webkit-text-fill-color: white !important;
  }*/
}

.form-input:focus {
  border-bottom: $inputFocusBorder;
  cursor: none;
}

.form-input_error:focus {
  border-color: $errorColor;
}
