.form-input {
  font-size: 16px;
  height: 30px;
  width: 100%;
  padding-top: 2px;
  background: inherit;
  border: none;
  border-bottom: $inputBorder;
  cursor: pointer;
  transition: $inputTransition;
  box-shadow: none;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    /*-webkit-text-fill-color: white !important;*/
  }
}

.form-input_not-empty {
  border-bottom: $inputFocusBorder;
}

.form-input:focus {
  border-bottom: $inputFocusBorder;
  cursor: default;
}



.form-input_error, .form-input_error:focus {
  border-color: $errorColor;
}
