.form__link {
  font-size: 16px;
  color: white;
  transition: $linkTransition;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-right: 10px;
}

.form__link:hover, .form__link:focus {
  color: $blue-200;
}

