.form-linkContainer {
  color: black;
  font-size: 14px;
  margin: 30px auto 0 auto;
  text-align: center;
}

.form__link {
  transition: $linkTransition;
  cursor: pointer;
  text-decoration: none;
  margin-left: 4px;
  color: #039BE5;
}

.form__link:hover, .form__link:focus {
  color: $blue-900;
}

