.container-footer {
  color: black;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.form__link {
  transition: $linkFormTransition;
  cursor: pointer;
  text-decoration: none;
  color: #039BE5;
}

.form__link:hover,
.form__link:focus {
  color: $blue-900;
}

