.status-helper {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: white;
  }
}

.status-helper__message {
  transition: $textTransition;
  transform: translate(-50%, -60%);
  position: absolute;
  top: 60%;
  left: 50%;
  color: black;
  opacity: 0;

  &::after {
    z-index: -1;
    opacity: 0;
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 4px solid white;
    border-color: $loadingAnimationColor;
  }

  &::before {
    opacity: 0;
    content: "";
    transition: $formStateTransition;
  }
}

.status-helper__message_loading {
  z-index: 2;
  opacity: 1;

  &::after {
    transition: all 1.5s cubic-bezier(.9, .1, .1, .9);
    position: absolute;
    bottom: 60px;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    animation: loading 2.2s 1s linear infinite;
    z-index: 3;
    opacity: 1;
  }
}

.status-helper__message_error {
  color: $errorColor;
  z-index: 2;
  opacity: 1;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 78px;
    margin: auto;
    animation: none;
    z-index: 3;
    opacity: 1;
    background: url("../../Files/Incorrect32.svg") no-repeat;
    background-size: cover;
  }
}

.status-helper__message_success {
  color: $successColor;
  z-index: 2;
  opacity: 1;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 78px;
    margin: auto;
    animation: none;
    z-index: 3;
    opacity: 1;
    background: url("../../Files/Correct32.svg") no-repeat;
    background-size: cover;
  }
}

.status-helper_hidden {
  text-align: center;

  &::before {
    z-index: 2;
  }
}

@keyframes loading {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
