.dashboard-header {
  height: 50px;
  background: white;
  padding-left: 10px;
  box-shadow: 0 5px 20px rgba(36, 37, 38, 0.3);
  display: flex;
  justify-content: space-between;

  .album-title {
    line-height: 50px;
    color: black;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
