*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Rubik;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  background: url("../../../Files/background.png") repeat;
  background-size: auto;
}
