$inputRadius: 5%;
$inputBorder: 1px solid black;
$labelTransition: 0.2s ease all;
$inputTransition: 0.2s border-top-width, border-bottom-width ease;
$errorTransition: 0.5s opacity ease;
$inputFocusBorder: 2px solid #6200EE;
$inputErrorColor: #B00020;
$inputFocusTranslation: -11px;
$buttonFormBackground: #6200EE;
$formButtonTransition: 0.4s background-color, transform ease;
