//COLORS
$blue-900: #01344d;
$blue-400: #467fa4;
$blue-50: #d9f1ff;
$red-700: #D50000;
$blue-200: #9ac0df;
$blue-300: #7aa6c8;
$blue-50: #daf1ff;

//OTHERS
$inputRadius: 5%;
$errorColor: $red-700;

$inputBorder: 2px solid #AEAEAE;
$labelTransition: 0.2s ease all;
$inputTransition: 0.2s border-top-width, border-bottom-width ease;
$errorTransition: 0.5s opacity ease;
$inputFocusBorder: 2px solid #039BE5;
$inputFocusTranslation: -18px;
$buttonFormBackground: $blue-200;
$linkTransition: 0.4s color ease;

