.form {
  width: 270px;
  /*height: 430px;*/
  margin: 10px auto 0 auto;
  background-color: white;
  padding: 40px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition:
    2s opacity ease,
    3s z-index ease;
}

.form-state_visibled {
  z-index: -1;
  opacity: 0;
  /*padding-bottom: 2px;*/
}


/*.form.form_loading {
  opacity: 1;
  transition:
    1s opacity ease,
    1s z-index ease;
}
*/


.state {
  margin: 0 auto;
  width: 270px;
  background-color: black;
  /*padding-bottom: 2px;*/
}

.state_loading {
  background-color: yellow;
}

.state_error {
  background-color: red;
}


.form-error {
  display: block;
  color: $red-700;
  margin-top: 10px;
  text-align: center;
}

.form-title {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: #555555;
  font-weight: normal;
}

.form-line {
  margin: 0 auto;
  display: block;
  width: 74px;
  height: 3px;
  background-color: #039BE5;
}

.form-button {
  text-align: center;
}

.status-button {
  display: block;
  border-radius: 10px;
  background: linear-gradient(to left, #0090DA, #81D4FA);
  outline: none;
  width: 200px;
  margin: 30px auto 0 auto;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  /*transition:
    .1s width ease,
    .1s height ease;*/
}

.status-button:hover,
.status-button:focus {
  cursor: pointer;
}

.status-button:active {
  /*width: 210px;
  height: 30px;*/
}

#status-button_loading {
  background-color: gold;
  color: transparent;
  animation: loadingAnimation 2s .48s infinite;
}

.status-button_success {

}

.status-button_error {

}

/*.form-status.form-status_loading .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_loading {
  background: #fb0 !important;
  padding: 0;
  transition-property: all;
  transition-duration: .4s;
  transition-delay: .2s;
  transition-timing-function: cubic-bezier(.9, .1, .1, .9);
  animation: loadingAnimation 2s .48s infinite;
}

.form-status_success {
  position: relative;
  background: #3dcb5f;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_success .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_error {
  position: relative;
  background: #da3b3b;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_error .status-button {
  opacity: 0;
  transition: .2s ease;
}
*/

@keyframes loadingAnimation {

  0% {
    box-shadow: 0 0 0 0 #fb0;
  }

  100% {
    box-shadow: 0 0 0 10px rgba(255,187,0,0);
  }
}
