.form {
  background-color: white;
  box-shadow: $formShadow;
  border-radius: 20px;
  position: relative;
  padding: 40px 25px;
  transition: .5s all ease;
}

.form-title {
  margin: 0 auto;
  position: relative;
  font-size: 32px;
  color: $darkGrey;
  font-weight: normal;
}

.form-line {
  margin: 0 auto 40px auto;
  display: block;
  position: relative;
  width: 74px;
  height: 3px;
  background-color: $blue;
}

.form-error {
  display: block;
  color: $errorColor;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.form-license {
  font-size: 12px;
  position: relative;
  color: black;
  margin-bottom: 26px;
}

.license__checkbox {
  margin-right: 10px;
  position: relative;
  width: 24px;
  height: 24px;
}

.license__checkbox:after {
  cursor: pointer;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 5%;
  position: absolute;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, .54);
  transition: $checkboxFormTransition;
}

.license__checkbox:checked:after {
  background: url("../Files/Correct.svg") $blue no-repeat center;
  background-size: contain;
  border: none;
  background-origin: content-box;
  padding: 4px;
}

.license__label {
  display: inline-block;
  text-align: left;
}

.license__link {
  display: block;
  text-decoration: none;
  color: $blue;
}

.image {
  position: absolute;
  opacity: 0;
  transition: 1s all ease;
}

/*@media screen and (min-width: 768px) {

  .registration-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    .form-linkContainer {
      display: none;
    }

  }

  .authorization-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 460px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    .form-linkContainer {
      position: absolute;
      bottom: 50px;
      right: 78px;
      width: auto;
    }
  }

  .form {
    width: 270px;
    box-shadow: none;
  }

  .image {
    display: block;
    opacity: 1;
    position: relative;
    width: 270px;
    height: 260px;
    align-self: center;
  }
}*/

@include mobile-up {
  .registration-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    .form-linkContainer {
      display: none;
    }

  }

  .authorization-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 460px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    .form-linkContainer {
      position: absolute;
      bottom: 50px;
      right: 78px;
      width: auto;
    }
  }

  .form {
    width: 270px;
    box-shadow: none;
  }

  .image {
    display: block;
    opacity: 1;
    position: relative;
    width: 270px;
    height: 260px;
    align-self: center;
  }
}
