*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: Roboto sans-serif;
  color: white;
  font-size: 14px;
  background-color: #01344d;
  @import url("https://fonts.googleapis.com/css?family=Roboto"); }

.form-input {
  height: 30px;
  width: 100%;
  margin: 12px auto;
  padding-left: 10px;
  background: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #467fa4;
  cursor: pointer;
  transition: 0.2s border-top-width, border-bottom-width ease;
  box-shadow: none;
  outline: none;
  /*&:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px  inset;
    -webkit-text-fill-color: white !important;
  }*/ }

.form-input:focus {
  border-bottom: 2px solid #9ac0df;
  cursor: none; }

.form-input__error:focus {
  border-color: #D50000; }

.form-label {
  padding: 0 4px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 18px;
  left: 8px;
  transition: 0.2s ease all;
  pointer-events: none; }

.form-label_focused {
  transform: translateY(-18px);
  line-height: 12px;
  z-index: 1;
  font-size: 12px; }

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 12px; }

.error-control {
  font-size: 12px;
  position: absolute;
  right: 9px;
  top: 42px;
  color: #D50000; }

.form__link {
  font-size: 16px;
  color: white;
  transition: 0.4s color ease;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-right: 10px; }

.form__link:hover, .form__link:focus {
  color: #9ac0df; }

.form-error {
  display: block;
  color: #D50000;
  margin-top: 10px;
  text-align: center; }

.form-title {
  text-align: center; }

.form-button {
  text-align: center; }

.form-status {
  display: inline-block;
  margin-left: 10px;
  transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.status-button {
  outline: none;
  opacity: 1;
  background-color: #467fa4;
  color: white;
  border: none;
  padding: 2px;
  transition: .1s .4s color ease, .2s .4s background-color ease; }

.status-button:hover,
.status-button:focus {
  background-color: #daf1ff;
  color: black;
  cursor: pointer; }

#status-button_loading {
  background-color: gold;
  color: transparent;
  animation: loadingAnimation 2s .48s infinite; }

/*.form-status.form-status_loading .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_loading {
  background: #fb0 !important;
  padding: 0;
  transition-property: all;
  transition-duration: .4s;
  transition-delay: .2s;
  transition-timing-function: cubic-bezier(.9, .1, .1, .9);
  animation: loadingAnimation 2s .48s infinite;
}

.form-status_success {
  position: relative;
  background: #3dcb5f;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_success .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_error {
  position: relative;
  background: #da3b3b;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_error .status-button {
  opacity: 0;
  transition: .2s ease;
}
*/
@keyframes loadingAnimation {
  0% {
    box-shadow: 0 0 0 0 #fb0; }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 187, 0, 0); } }
.header {
  height: 50px;
  background-color: red; }

@media screen and (max-width: 400px) {
  .header {
    background-color: coral; } }
@media screen and (min-width: 400px) {
  .form {
    width: 400px;
    margin: 20px auto 0 auto; } }

/*# sourceMappingURL=index.css.map */
