@font-face {
  font-family: 'Rubik';
  src: url("Rubik-BlackItalic.eot");
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-BlackItalic.woff") format("woff"), url("Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-BoldItalic.eot");
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-BoldItalic.woff") format("woff"), url("Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("Rubik-Light.eot?#iefix") format("embedded-opentype"), url("Rubik-Light.woff") format("woff"), url("Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("Rubik-Medium.woff") format("woff"), url("Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Italic.eot");
  src: local("Rubik Italic"), local("Rubik-Italic"), url("Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("Rubik-Italic.woff") format("woff"), url("Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("Rubik-Bold.woff") format("woff"), url("Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-LightItalic.eot");
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("Rubik-LightItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-LightItalic.woff") format("woff"), url("Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Regular.eot");
  src: local("Rubik"), local("Rubik-Regular"), url("Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("Rubik-Regular.woff") format("woff"), url("Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-MediumItalic.eot");
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-MediumItalic.woff") format("woff"), url("Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Rubik Mono One';
  src: url("RubikMonoOne-Regular.eot");
  src: local("Rubik Mono One Regular"), local("RubikMonoOne-Regular"), url("RubikMonoOne-Regular.eot?#iefix") format("embedded-opentype"), url("RubikMonoOne-Regular.woff") format("woff"), url("RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Black.eot");
  src: local("Rubik Black"), local("Rubik-Black"), url("Rubik-Black.eot?#iefix") format("embedded-opentype"), url("Rubik-Black.woff") format("woff"), url("Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Rubik;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  background: url("../../../Files/background.png") repeat;
  background-size: auto; }

.form-input {
  font-size: 16px;
  height: 30px;
  width: 100%;
  padding-top: 6px;
  background: inherit;
  border: none;
  border-bottom: 1px solid #AEAEAE;
  cursor: pointer;
  transition: 0.2s border-top-width, border-bottom-width ease;
  box-shadow: none;
  outline: none; }
  .form-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    /*-webkit-text-fill-color: white !important;*/ }

.form-input_not-empty {
  border-bottom: 1px solid #039BE5; }

.form-input:focus {
  border-bottom: 1px solid #039BE5;
  cursor: default; }

.form-input_error, .form-input_error:focus {
  border-color: #D50000; }

.form-label {
  padding-left: 4px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: -4px;
  transition: 0.2s ease all;
  pointer-events: none;
  color: rgba(174, 174, 174, 0.87); }

.form-label_focused {
  transform: translateY(-16px);
  line-height: 12px;
  z-index: 1;
  font-size: 12px;
  color: #039BE5; }

.form-label_error {
  color: #E50303; }

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 26px; }

.error-control {
  font-size: 10px;
  position: absolute;
  right: 9px;
  top: 30px;
  color: #D50000; }

.form-linkContainer {
  color: black;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 55px; }

.form__link {
  transition: 0.4s color ease;
  cursor: pointer;
  text-decoration: none;
  color: #039BE5; }

.form__link:hover, .form__link:focus {
  color: #01344d; }

.form-button {
  display: block;
  border-radius: 20px;
  background: linear-gradient(to left, #0090DA, #81D4FA);
  outline: none;
  width: 200px;
  margin: 0 auto;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  font-size: 16px;
  transition: all 0.2s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.form-button:hover,
.form-button:active,
.form-button:focus {
  cursor: pointer;
  transform: scale(0.9); }

.form {
  text-align: center;
  width: 270px;
  margin: 110px auto 0 auto;
  background-color: white;
  padding: 40px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: relative;
  max-height: 600px;
  transition: all 0.6s cubic-bezier(0.9, 0.1, 0.1, 0.9); }
  .form::after {
    z-index: -1;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.9, 0.1, 0.1, 0.9);
    position: absolute;
    content: '';
    left: 28%;
    top: 25%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid black;
    border-color: #4788f4 transparent #4788f4 transparent;
    animation: loading 2.2s 1s linear infinite; }

.form_loading {
  max-height: 260px; }
  .form_loading::after {
    opacity: 1;
    z-index: 1; }

.form_success {
  text-align: inherit;
  max-height: 260px; }
  .form_success::after {
    border: none;
    opacity: 1;
    z-index: 1;
    animation: none;
    background: url("../Files/CorrectCircle.svg") no-repeat center;
    transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.form_error {
  text-align: inherit;
  max-height: 260px; }
  .form_error::after {
    border: none;
    opacity: 1;
    z-index: 1;
    animation: none;
    background: url("../Files/IncorrectCircle.svg") no-repeat center;
    transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.state {
  background: white;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.state_hidden {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.state_loading {
  height: 220px;
  border-radius: 50%;
  border: 8px solid black;
  border-color: #4788f4 transparent #4788f4 transparent;
  animation: loading 2.2s 1s linear infinite; }

.state_success {
  height: 220px;
  animation: none;
  background: url("../Files/CorrectCircle.svg") no-repeat 50% 20%;
  transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.state_error {
  height: 220px;
  animation: none;
  background: url("../Files/IncorrectCircle.svg") no-repeat 50% 20%;
  transition: all 0.4s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.form-message {
  position: absolute;
  z-index: -1;
  opacity: 0;
  color: black;
  width: 200px;
  top: 200px;
  text-align: center;
  font-size: 15px;
  padding-left: 10px;
  transition: all 0.8s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.form-message_visible {
  z-index: 1;
  opacity: 1; }

.form-error {
  display: block;
  color: #E50303;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center; }

.form-title {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: #555555;
  font-weight: normal; }

.form-line {
  margin: 0 auto 20px auto;
  display: block;
  width: 74px;
  height: 3px;
  background-color: #039BE5; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@media screen and (min-width: 768px) {
  .form {
    background-color: black;
    width: 580px; } }
.form-license {
  font-size: 12px;
  color: black;
  margin-bottom: 26px; }

.license__checkbox {
  position: relative;
  width: 24px;
  height: 24px; }

.license__checkbox:after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 5%;
  position: absolute;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.54);
  transition: all 0.5s cubic-bezier(0.9, 0.1, 0.1, 0.9); }

.license__checkbox:checked:after {
  background: url("../Files/Correct.svg") #039BE5 no-repeat center;
  background-size: contain;
  border-color: #039BE5; }

.license__label {
  display: inline-block;
  text-align: left; }

.license__link {
  display: block; }

.header {
  height: 50px;
  background-color: red; }

@media screen and (max-width: 400px) {
  .header {
    background-color: coral; } }
/*
@media screen and (min-width: 400px) {

  .form {
    width: 400px;
    margin: 20px auto 0 auto;
  }
}
*/

/*# sourceMappingURL=index.css.map */
