@font-face {
  font-family: 'Rubik';
  src: url("Rubik-BlackItalic.eot");
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-BlackItalic.woff") format("woff"), url("Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-BoldItalic.eot");
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-BoldItalic.woff") format("woff"), url("Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("Rubik-Light.eot?#iefix") format("embedded-opentype"), url("Rubik-Light.woff") format("woff"), url("Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("Rubik-Medium.woff") format("woff"), url("Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Italic.eot");
  src: local("Rubik Italic"), local("Rubik-Italic"), url("Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("Rubik-Italic.woff") format("woff"), url("Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("Rubik-Bold.woff") format("woff"), url("Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-LightItalic.eot");
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("Rubik-LightItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-LightItalic.woff") format("woff"), url("Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Regular.eot");
  src: local("Rubik"), local("Rubik-Regular"), url("Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("Rubik-Regular.woff") format("woff"), url("Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-MediumItalic.eot");
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Rubik-MediumItalic.woff") format("woff"), url("Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Rubik Mono One';
  src: url("RubikMonoOne-Regular.eot");
  src: local("Rubik Mono One Regular"), local("RubikMonoOne-Regular"), url("RubikMonoOne-Regular.eot?#iefix") format("embedded-opentype"), url("RubikMonoOne-Regular.woff") format("woff"), url("RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Rubik';
  src: url("Rubik-Black.eot");
  src: local("Rubik Black"), local("Rubik-Black"), url("Rubik-Black.eot?#iefix") format("embedded-opentype"), url("Rubik-Black.woff") format("woff"), url("Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Rubik serif;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  /*background-color: $blue-900;*/
  background-image: url("/background.png"); }

.form-input {
  height: 30px;
  width: 100%;
  margin: 12px auto;
  padding-left: 10px;
  background: inherit;
  border: none;
  border-bottom: 2px solid #AEAEAE;
  cursor: pointer;
  transition: 0.2s border-top-width, border-bottom-width ease;
  box-shadow: none;
  outline: none;
  /*&:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px  inset;
    -webkit-text-fill-color: white !important;
  }*/ }

.form-input:focus {
  border-bottom: 2px solid #039BE5;
  cursor: none; }

.form-input_error:focus {
  border-color: #D50000; }

.form-label {
  padding: 0 4px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 18px;
  left: 8px;
  transition: 0.2s ease all;
  pointer-events: none;
  color: rgba(174, 174, 174, 0.87); }

.form-label_focused {
  transform: translateY(-18px);
  line-height: 12px;
  z-index: 1;
  font-size: 12px;
  color: #039BE5; }

.form-label_error {
  color: #E50303; }

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 12px; }

.error-control {
  font-size: 16px;
  position: absolute;
  right: 9px;
  top: 42px;
  color: #D50000; }

.form-linkContainer {
  color: black;
  font-size: 14px;
  margin: 30px auto 0 auto;
  text-align: center; }

.form__link {
  transition: 0.4s color ease;
  cursor: pointer;
  text-decoration: none;
  margin-left: 4px;
  color: #039BE5; }

.form__link:hover, .form__link:focus {
  color: #01344d; }

.form {
  width: 270px;
  margin: auto;
  background-color: white;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: 2s opacity ease, 3s z-index ease; }

.form-state_visibled {
  z-index: -1;
  opacity: 0;
  /*padding-bottom: 2px;*/ }

/*.form.form_loading {
  opacity: 1;
  transition:
    1s opacity ease,
    1s z-index ease;
}
*/
.state {
  margin: 0 auto;
  width: 270px;
  background-color: black;
  /*padding-bottom: 2px;*/ }

.state_loading {
  background-color: yellow; }

.state_error {
  background-color: red; }

.form-error {
  display: block;
  color: #D50000;
  margin-top: 10px;
  text-align: center; }

.form-title {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: #555555; }

.form-line {
  margin: 0 auto;
  display: block;
  width: 74px;
  height: 3px;
  background-color: #039BE5; }

.form-button {
  text-align: center; }

.status-button {
  display: block;
  border-radius: 10px;
  background: linear-gradient(to left, #0090DA, #81D4FA);
  outline: none;
  width: 220px;
  margin: 10px auto 0 auto;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 2px;
  transition: .1s width ease, .1s height ease; }

.status-button:hover,
.status-button:focus {
  cursor: pointer; }

.status-button:active {
  width: 210px;
  height: 30px; }

#status-button_loading {
  background-color: gold;
  color: transparent;
  animation: loadingAnimation 2s .48s infinite; }

/*.form-status.form-status_loading .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_loading {
  background: #fb0 !important;
  padding: 0;
  transition-property: all;
  transition-duration: .4s;
  transition-delay: .2s;
  transition-timing-function: cubic-bezier(.9, .1, .1, .9);
  animation: loadingAnimation 2s .48s infinite;
}

.form-status_success {
  position: relative;
  background: #3dcb5f;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_success .status-button {
  opacity: 0;
  transition: .2s ease;
}

.form-status_error {
  position: relative;
  background: #da3b3b;
  width: 30px;
  animation: none;
  transition: all .4s cubic-bezier(.9, .1, .1, .9);
}

.form-status.form-status_error .status-button {
  opacity: 0;
  transition: .2s ease;
}
*/
@keyframes loadingAnimation {
  0% {
    box-shadow: 0 0 0 0 #fb0; }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 187, 0, 0); } }
.header {
  height: 50px;
  background-color: red; }

@media screen and (max-width: 400px) {
  .header {
    background-color: coral; } }
/*
@media screen and (min-width: 400px) {

  .form {
    width: 400px;
    margin: 20px auto 0 auto;
  }
}
*/

/*# sourceMappingURL=index.css.map */
