.registration-header {
  position: relative;
  color: $darkGrey;
  font-weight: normal;
  margin: 0 auto 24px;

  h1 {
    font-size: 32px;
  }
}

.registration-header:after {
  content: "";
  display: block;
  position: relative;
  width: 74px;
  margin: 5px auto 0;
  border-bottom: 2px solid $blue;
}

