.registration-form {
  margin-bottom: 26px;
}

.image {
  display: none;
  position: absolute;
  opacity: 0;
  transition: 1s all ease;
}


/*@media screen and (min-width: 768px) {

  .registration-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    .form-linkContainer {
      display: none;
    }

  }

  .authorization-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 460px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    .form-linkContainer {
      position: absolute;
      bottom: 50px;
      right: 78px;
      width: auto;
    }
  }

  .form {
    width: 270px;
    box-shadow: none;
  }

  .image {
    display: block;
    opacity: 1;
    position: relative;
    width: 270px;
    height: 260px;
    align-self: center;
  }
}*/

/*
@include mobile-up {

  .registration-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    .form-linkContainer {
      display: none;
    }

  }

  .authorization-container {
    box-shadow: $formShadow;
    border-radius: 20px;
    width: 600px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    .form-linkContainer {
      position: absolute;
      bottom: 50px;
      right: 78px;
      width: auto;
    }
  }

  .form {
    width: 270px;
    box-shadow: none;
  }

  .image {
    display: block;
    opacity: 1;
    position: relative;
    width: 270px;
    height: 260px;
    align-self: center;
  }
}
*/
